<section>
    <h2>Posts:</h2>
    <div class="postOptions">
        <%# P10 - Tarea 3.1: El botón de crear un nuevo post solo le aparezca al usuario si está logueado.%>
        <% if(locals.loginUser) {%>
            <a class="button-2" href="/posts/new">Nuevo post</a>
        <% } %>
    </div>
    <% for (var i in posts) { %>
        <% var post = posts[i]; %>
        <article class="postShow">
            <h3 class="postTitle"><%= post.title %></h3>
            <%- include('../attachments/_attachment', { post: post }) %>
            <div class="postOptions">
                <a class="button-2" href="/posts/<%= post.id %>">Show</a>
                <%# P9 - Tarea 3.2: Los botones para editar o borrar un post solo le aparecen a los usuarios administradores o al autor del post. %>
                <% if(locals.loginUser?.isAdmin || locals.loginUser?.id === post.authorId) {%>
                    <a class="button-2" href="/posts/<%= post.id %>/edit">Edit</a>
                    <a class="button-2" href="/posts/<%= post.id %>?_method=DELETE" onClick="return confirm('Delete: <%= post.title %>');">Delete</a>
                <% } %>
            </div>
            <div>
                <small id="author">Post creado por <b><%= post.author?.username ?? "Anonymous" %></b> </small>
            </div>
        </article>
    <% } %>
</section>